.contenido{
    --background: url('../../assets/imgs/Mobile\ -\ 10.png') 0 0/100% 100% no-repeat;
}

.margin-init{
    margin-top: 45vw;
    text-align: center;
}

ion-card{
    width: 75%;
    margin-left: 30px;
}

ion-fab-button{
    background-color: transparent;
}

ion-fab-button{
    --box-shadow: none !important
}
ion-card-conten{
    background-color: transparent;
}