<ion-content class="contenido">
  <div class="center-div">
    <button (click)="conocenos()" class="conocenos">
      1. Conócenos
    </button>
    <button (click)="manteles()" class="manteles">
      2. De manteles largos
    </button>

    <button (click)="open3()" class="historia">
      3. Tu historia, nuestra historia
    </button>

    <div *ngIf="historiaOpen">
      <button (click)="generacion()" class="historia">
        #GeneraciónProdeli
      </button>
      <button (click)="historia()" class="historia">
        #HistoriaDeÉxito
      </button>
    </div>
    <button (click)="muro()" class="muro">
      4. Muro del desarrollo
    </button>

    <button (click)="eventos()" class="eventos">
      5. Eventos
    </button>

    <button (click)="paraTi()" class="para_ti">
      6. Lo que tenemos para ti
    </button>

    <button (click)="salud()" class="salud">
      7. Salud
    </button>

    <div *ngIf="saludOpen">
      <button (click)="informacion()" class="para_ti">
        Información que cura
      </button>
      <button (click)="saludMes()" class="para_ti">
        ¿Qué onda con la salud?
      </button>
      <button (click)="para()" class="para_ti">
        Para que te animes
      </button>
      <button (click)="convenios()" class="para_ti">
        Ahórrale con los convenios
      </button>
      <button (click)="cajon()" class="para_ti">
        Lo$ de cajón
      </button>
      <button (click)="aquiEstamos()" class="para_ti">
        Si nos necesitas aquí estamos
      </button>
      <button (click)="covid()" class="para_ti">
        Línea COVID
      </button>
    </div>
  </div>

  <div>
    <h5 class="logout-text logout-class ion-text-end" [routerLink]="['/profile']">Mi perfil</h5>

    <h5 class="logout-text logout-class ion-text-end"  (click)="logout()">SALIR</h5>
</div>
</ion-content>
