<ion-content class="contenido">
  <div class="center-div">
    <button (click)="conocenos()" class="conocenos">
      1. Conócenos
    </button>
    <button (click)="manteles()" class="manteles">
      2. De manteles largos
    </button>

    <button (click)="historia()" class="historia">
      3. Tu historia, nuestra historia
    </button>
    <button (click)="muro()" class="muro">
      4. Muro del desarrollo
    </button>

    <button (click)="eventos()" class="eventos">
      5. Eventos
    </button>

    <button (click)="paraTi()" class="para_ti">
      6. Lo que tenemos para ti
    </button>

    <button (click)="salud()" class="salud">
      7. Salud
    </button>
  </div>

  <div>
    <h5 class="logout-text logout-class ion-text-end" [routerLink]="['/profile']">Mi perfil</h5>

    <h5 class="logout-text logout-class ion-text-end"  (click)="logout()">SALIR</h5>
</div>
</ion-content>
