.contenido{
    --background: url('../../assets/imgs/Mobile\ -\ 7.png') 0 0/100% 100% no-repeat;
}
label{
    font-size: 14px;
}

.list{
    margin-top: 50vw;
    text-align: center;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima{
    position: absolute;
    top: 2px;
    left: 10px;
}
.profile{
    border-radius: 50%;
}

ion-fab-button{
    background-color: transparent;
}

ion-fab-button{
    --box-shadow: none !important
}
