<ion-content>
  <h1 class="ion-text-center">BIENVENIDO</h1>

  <div class="ion-text-center instructions">
    <ion-label>Recuerda que es necesario completar toda tu información para ello, te invitamos a ir a tu perfil  configurarla.</ion-label>
  </div>
  <div class="ion-text-center buttons">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="dark" (click)="profile()">Ir a mi perfil</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="medium" (click)="close()">Continuar</ion-button>

        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
