<ion-content class="contenido">
  <ion-fab *ngIf="!menu" vertical="top" horizontal="start"  slot="fixed">
    <ion-fab-button (click)="openMenu()" color="transparent">
      <img src="../../assets/icon/Menu.png" alt="">
    </ion-fab-button>
  </ion-fab>
        <ion-list>
          <ion-card class="card-header">
            <ion-card-content>
              <iframe width="250" height="250" src="https://storage.googleapis.com/poc-sitio-web.appspot.com/OXXO/1_4942750361120146105%5B1%5D.mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu semper magna.
              </p>
            </ion-card-content>
          </ion-card>


          <ion-card class="card-header">
            <ion-card-content>
              <iframe width="250" height="250" src="https://storage.googleapis.com/poc-sitio-web.appspot.com/OXXO/1_4942750361120146104.mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu semper magna.
              </p>
            </ion-card-content>
          </ion-card>
        </ion-list>
</ion-content>