<ion-content class="contenido">
  <ion-fab *ngIf="!menu" vertical="top" horizontal="start"  slot="fixed">
    <ion-fab-button (click)="openMenu()" color="transparent">
      <img src="../../assets/icon/Menu.png" alt="">
    </ion-fab-button>
  </ion-fab>

  <div class="margin">
    <div class="top-images">
      <a href="tel://4424666384">
        <img src="../../assets/img_contenido/Captura de pantalla 2021-03-16 a la(s) 00.59.04.png" alt="">
      </a>
    </div>
    <div class="top-images">
      <a href="tel://4427900277">
        <img src="../../assets/img_contenido/Captura de pantalla 2021-03-16 a la(s) 00.59.08.png" alt="">
      </a>
    </div>
  </div>
</ion-content>
