<ion-content class="contenido">
  <ion-fab *ngIf="!menu" vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="openMenu()" color="transparent">
      <img src="../../assets/icon/Menu.png" alt="">
    </ion-fab-button>
  </ion-fab>


  <div class="margin">
    <ion-card>
      <ion-card-content>
        SEMANA MUNDIAL DE LA LACTANCIA MATERNA
      </ion-card-content>
    </ion-card>

    <!-- <div class="ion-text-center">
      <iframe width="auto" height="500" src="https://storage.googleapis.com/poc-sitio-web.appspot.com/OXXO/Semana%20mundial%20de%20la%20lactancia%20materna.jpeg" frameborder="0"></iframe>
    </div> -->
    <ion-slides [options]="sliderOpts">
      <ion-slide>
        <div class="swiper-zoom-container">
          <img src="https://storage.googleapis.com/poc-sitio-web.appspot.com/OXXO/Semana%20mundial%20de%20la%20lactancia%20materna.jpeg" alt="">
        </div>
      </ion-slide>
    </ion-slides>

  </div>

</ion-content>