<ion-content class="contenido">
  <ion-fab *ngIf="!menu" vertical="top" horizontal="start"  slot="fixed">
    <ion-fab-button (click)="openMenu()" color="transparent">
      <img src="../../assets/icon/Menu.png" alt="">
    </ion-fab-button>
  </ion-fab>

  <div class="margin">
    <div class="margin-image">
      <iframe width="auto" height="480" src="https://storage.googleapis.com/poc-sitio-web.appspot.com/OXXO/Los%20de%20Caj%C3%B3n.pdf" frameborder="0"></iframe>
    </div>
    
  </div>
</ion-content>
