.contenido{
    --background: url('../../assets/imgs/informaci¢n_cura.png') 0 0/100% 100% no-repeat;
}

ion-fab-button{
    background-color: transparent;
}

ion-fab-button{
    --box-shadow: none !important
}
.margin-top{
    margin-top: 45vw;
}
.margin{
    margin-top: 15vw;
}

.type{
    width: 75%;
    border: 2px solid #000000;
    margin:10px auto;
    width: 80vw;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    background-color: rgb(204, 32, 44);
    color: rgb(255, 255, 255);
    font-weight: bold;
}