.contenido{
    --background: url('../../assets/imgs/Fondo_de_manteles_largos.png') 0 0/100% 100% no-repeat;
}
.cumpleanos{
    text-align: center;
    margin-top: 15vw;
}

.equipo{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 25vw;
}

.premio{
    display: flex;
    text-align: center;
    justify-content: center;
}

ion-fab-button{
    background-color: transparent;
}

ion-fab-button{
    --box-shadow: none !important
}
