<ion-content class="contenido">
    <ion-fab *ngIf="!menu" vertical="top" horizontal="start"  slot="fixed">
      <ion-fab-button (click)="openMenu()" color="transparent">
        <img src="../../assets/icon/Menu.png" alt="">
      </ion-fab-button>
    </ion-fab>
  
  <ion-list>
    <ion-card class="card_webex">
      <a href=" https://oxxo.webex.com/oxxo/j.php?MTID=m6346523f64e23a5c294899ffb8d9d227">Sesiones WEBEX CISCO</a>
    </ion-card>
  </ion-list>

  <ion-list>
    <ion-card>
      <img src="../../assets/img_contenido/3be9bca9-8ea7-417e-8263-ee81f9295b43.jpg" alt="">
      <ion-card-content>
        Aquí va el título de esta imagen
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="../../assets/img_contenido/456f26c0-5d59-45fc-81b4-7a19c44059a0.jpg" alt="">
      <ion-card-content>
        Aquí va el título de esta imagen
      </ion-card-content>
    </ion-card>
    <ion-card>
      <img src="../../assets/img_contenido/91ff8567-ad46-4fc2-a711-29183ab8f396.jpg" alt="">
      <ion-card-content>
        Aquí va el título de esta imagen
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
