<ion-content class="contenido">
  <ion-fab vertical="top" (click)="dismiss()" horizontal="end" slot="fixed">
    <ion-fab-button color="transparent">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="container">
    <h2>EQUIPO OXXO TE DESEA UN FELIZ CUMPLEAÑOS</h2>
  </div>

  <div class="video-container">
    <iframe width="auto" height="350" src="https://storage.googleapis.com/poc-sitio-web.appspot.com/OXXO/1_5051049288633680122.mp4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</ion-content>
