
.contenido{
    padding: 5px !important;
}
.button{
    border: 2px solid #000000;
    margin:10px auto;
    width: 80vw;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    background-color: white;
}
.avatar{
    display: flex;
    justify-content: center;
}