.contenido{
    --background: url('../../assets/imgs/ahorrale_convenios.png') 0 0/100% 100% no-repeat;
}

ion-fab-button{
    background-color: transparent;
}

ion-fab-button{
    --box-shadow: none !important
}


.margin{
    margin-top: 45vw;
}
.top-images{
    margin-top: 10vw;
}
