.contenido{
    --background: url('../../assets/imgs/1.png') 0 0/100% 100% no-repeat;
}
#cool-button-div {

    position: relative;
    margin:auto;
    margin-top:90vh;
    font-size: 13px;
    color: white;
    font-weight: bold;
    padding: 5px;
}