<ion-content class="contenido">
  <ion-fab *ngIf="!menu" vertical="top" horizontal="start"  slot="fixed">
    <ion-fab-button (click)="openMenu()" color="transparent">
      <img src="../../assets/icon/Menu.png" alt="">
    </ion-fab-button>
  </ion-fab>

  <div class="margin">
    <div class="top-menu" *ngFor="let item of videos">
      <div class="ion-text-center">
        <video width="300" height="200" controls>
          <source src="{{item.data}}" type="video/mp4">
        </video>
      </div>    </div>
  </div>
</ion-content>
