<ion-content class="contenido">
  <ion-fab *ngIf="!menu" vertical="top" horizontal="start"  slot="fixed">
    <ion-fab-button (click)="openMenu()" color="transparent">
      <img src="../../assets/icon/Menu.png" alt="">
    </ion-fab-button>
  </ion-fab>

  <div class="margin">
    <div class="top-menu">
      <iframe width="auto" height="315" src="https://www.youtube.com/embed/WNz9C_vyIB0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="top-menu">
      <iframe width="auto" height="315" src="https://www.youtube.com/embed/CkAOFDuxB38" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="top-menu">
      <iframe width="auto" height="315" src="https://www.youtube.com/embed/287hGEhQ2rw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="top-menu">
      <iframe width="auto" height="315" src="https://www.youtube.com/embed/Su-A6qm6HXU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</ion-content>
