<ion-content class="contenido">
    <ion-fab *ngIf="!menu" vertical="top" horizontal="start"  slot="fixed">
        <ion-fab-button (click)="openMenu()" color="transparent">
          <img src="../../assets/icon/Menu.png" alt="">
        </ion-fab-button>
    </ion-fab>
        <ion-list>
            <div class="margin">
                <ion-card>
                    <img src="https://storage.googleapis.com/poc-sitio-web.appspot.com/OXXO/WhatsApp%20Image%202021-09-08%20at%2012.50.14%20AM%20(1).jpeg" />
                    <ion-card-content class="color">
                        <div class="ion-text-center">
                            <strong>Ganador al mejor video</strong>
                            <br>
                            ¿Cómo haces el mejor ambiente con tu equipo?
                        </div>
                    </ion-card-content>
                </ion-card>

            </div>


            <div class="margin">
                <ion-card>
                    <img src="https://storage.googleapis.com/poc-sitio-web.appspot.com/OXXO/WhatsApp%20Image%202021-09-08%20at%2012.50.14%20AM.jpeg" />
                    <ion-card-content class="color">
                        <div class="ion-text-center">
                            <strong>Ganador al mejor video</strong>
                            <br>
                            ¿Cómo haces el mejor ambiente con tu equipo?
                        </div>
                    </ion-card-content>
                </ion-card>
            </div>
        </ion-list>
</ion-content>
