*{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.contenido{
    --background: url('../../assets/imgs/Mobile\ -\ 13.png') 0 0/100% 100% no-repeat;
}

.margin{
    margin-bottom: 25px;
}
ion-list{
    background: transparent;
    margin-top: 55vw;
}

ion-card{
    width: 75%;
    border: 2px solid #000000;
    margin:10px auto;
    width: 80vw;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    background-color: #FCCD20;
    color: rgb(0, 0, 0);
}

.img{
    width: 70%;
    border: 2px solid #000000;
    margin:10px auto;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    background-color: white;
}
.type{
    width: 75%;
    border: 2px solid #000000;
    margin:10px auto;
    width: 80vw;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    background-color: rgb(204, 32, 44);
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.description{
    width: 75%;
    border: 2px solid #000000;
    margin:10px auto;
    width: 80vw;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    color: rgb(7, 7, 7);
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
}

ion-fab-button{
    background-color: transparent;
}

ion-fab-button{
    --box-shadow: none !important
}