<ion-content class="contenido" fullscreen>
    <ion-fab *ngIf="!menu" vertical="top" horizontal="start" slot="fixed">
        <ion-fab-button (click)="openMenu()" color="transparent">
            <img src="../../assets/icon/Menu.png" alt="">
        </ion-fab-button>
    </ion-fab>

        <div class="ion-text-center margin">
            <img src="../../assets/imgs/Componente 2 – 1.png" />

            <ion-card class="ion-text-center">
                <ion-card-header>
                    <ion-card-subtitle>ENCARGADO DE TURNO</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <p>
                        Como encargado de turno debes garantizar el óptimo
                        funcionamiento de la Tienda, supervisar y ejecutar las
                        tareas asignadas en tiempo y forma, además de aplicar
                        correctamente la ejecución del protocolo de servicio
                    </p>
                    <p>
                        Escolaridad: Secundaria
                    </p>
                    <p>
                        Edad: 24 años
                    </p>

                    <p>
                        *Puedes aplicar para este puesto a partir de 3 meses en el
                        puesto de ayudante.
                    </p>
                </ion-card-content>
            </ion-card>
        </div>

        <div class="ion-text-center margin">
            <img src="../../assets/imgs/Componente 2 – 1.png" />

            <ion-card class="ion-text-center">
                <ion-card-header>
                    <ion-card-subtitle>LIDER EMPLEADO PROPIO</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <p>
                        Como Líder Propio tendrás como objetivo incrementar las ventas mensuales, obtener un resultado
                        óptimo de inventario en Tienda, gestionar, supervisa y ejecutar las tareas asignadas en tiempos
                        y forma.
                        ¡¡Contagia a su equipo el gusto por las ventas y la buena atención al cliente!!

                    </p>
                    <p>
                        Escolaridad: Preparatoria /Carrera Técnica
                    </p>
                    <p>
                        Edad: 24 años
                    </p>

                    <p>
                        Habilidades en el puesto: Experiencia en gestión de gente, ejecución y control.
                    </p>
                    <p>
                        Pasión por el servicio al cliente.
                    </p>
                    <p>
                        Disponibilidad de tiempo.
                    </p>
                    <p>
                        Valores e Integridad
                    </p>
                </ion-card-content>
            </ion-card>
        </div>

        <div class="ion-text-center margin">
            <img src="../../assets/imgs/Componente 2 – 1.png" />

            <ion-card class="ion-text-center">
                <ion-card-header>
                    <ion-card-subtitle>LIDER COMISIONISTA MERCANTIL</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <p>
                        Como líder Comisionista Mercantil, deberás incrementar las ventas mensuales, obtener un
                        resultado óptimo de inventario en Tienda, gestionar y opera su Tienda buscando mantener (A+).
                        ¡¡Compromete a su equipo en el cumplimiento de metas e incentivos!!
                    </p>
                    <p>
                        Escolaridad: Preparatoria /Carrera Técnica
                    </p>
                    <p>
                        Edad: 24 años
                    </p>

                    <p>
                        Puedes aplicar para este puesto a partir de 6 meses en el puesto de encargado
                    </p>
                    <p>
                        Habilidades en el puesto: Experiencia en gestión de gente, ejecución y control Disponibilidad de
                        tiempo. Contar con un Equipo de 6 personas (familiares o amigos) Valores e Integridad
                    </p>
                    <p>
                        Contar con un Equipo de 6 personas (familiares o amigos)
                    </p>
                    <p>
                        Valores e Integridad
                    </p>
                </ion-card-content>
            </ion-card>
        </div>

        <div class="ion-text-center margin">
            <img src="../../assets/imgs/Componente 2 – 1.png" />

            <ion-card class="ion-text-center">
                <ion-card-header>
                    <ion-card-subtitle>LIDER COMISIONISTA MERCANTIL</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <p>
                        Como líder Comisionista Mercantil, deberás incrementar las ventas mensuales, obtener un
                        resultado óptimo de inventario en Tienda, gestionar y opera su Tienda buscando mantener (A+).
                        ¡¡Compromete a su equipo en el cumplimiento de metas e incentivos!!
                    </p>
                    <p>
                        Escolaridad: Preparatoria /Carrera Técnica
                    </p>
                    <p>
                        Edad: 24 años
                    </p>

                    <p>
                        Puedes aplicar para este puesto a partir de 6 meses en el puesto de encargado
                    </p>
                    <p>
                        Habilidades en el puesto: Experiencia en gestión de gente, ejecución y control Disponibilidad de
                        tiempo. Contar con un Equipo de 6 personas (familiares o amigos) Valores e Integridad
                    </p>
                    <p>
                        Contar con un Equipo de 3 personas (familiares o amigos)
                    </p>
                    <p>
                        Valores e Integridad
                    </p>
                </ion-card-content>
            </ion-card>
        </div>

        <div class="ion-text-center margin">
            <img src="../../assets/imgs/Componente 2 – 1.png" />

            <ion-card class="ion-text-center">
                <ion-card-header>
                    <ion-card-subtitle>AUDITOR DE INVENTARIOS</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                    <p>
                        Como auditor de inventarios deberás revisar el conteo físico de las mercancías, así como del
                        activo fijo que se realiza durante el proceso de inventario en Tienda para determinar la
                        existencia real y proporcionar información confiable para el control de inventarios.

                    </p>
                    <p>
                        Escolaridad: Profesional (Contador, LAE, carreras afines)
                    </p>
                    <p>
                        Habilidades en el puesto:
                    </p>

                    <p>
                        Control Inventarios. </p>
                    <p>
                        Servicio al Cliente </p>
                    <p>
                        Contabilidad </p>
                    <p>
                        Experiencia Administrativa </p>
                    <p>
                        Manejo de Excel, Outlook y Power Point (Presentaciones), Explorer.
                    </p>
                    <p>
                        Control en auditoría, manejo de inventarios.
                    </p>
                    <p>
                        Análisis, Auditoría, Control, Administración.
                    </p>
                </ion-card-content>
            </ion-card>
        </div>
</ion-content>